<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8"/>

	<title>LTR Application - Add new platform</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/css/bootstrap/jquery.dataTables.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap/dataTables.bootstrap4.min.css}"/>

</head>

<body>
		
			<!-- Start of Row 1  -->
			<div class="row">
			  <div class="col-md-12">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					  <a class="navbar-brand" href="#" th:href="@{/admin/index}">LTR</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav">
				          <li class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
				            <div class="dropdown-menu" aria-labelledby="dropdown03">
				              <a class="dropdown-item" th:href="@{/admin/changePassword}">Change Password</a>
				            </div>
				          </li>						    
					      <li sec:authorize="hasRole('ROLE_INVENTORY')" class="nav-item">
					        <a class="nav-link" href="#" th:href="@{/admin/requestSiliconbyUsers}">Request Silicon</a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="#" th:href="@{/admin/silicon}">Silicons<span class="sr-only">(current)</span></a>
					      </li>				      
					    </ul>
					  </div>
				      <div class="navbar-nav">
				      		<a class="nav-item nav-link" href="#">Logout</a>
				      </div>					  
					</nav>
			  </div>
			</div>
			<!-- End of Row 1  -->
			
			<br/>
			
			<!-- Start of Row 2  -->
			<div class="row">
			
			  <div class="col-sm-12">
				<div class="card text-center">
				  <div class="card-header">
				    
				  </div>
				  <div class="card-body">
				    	<h1>Long Term Retention (LTR)</h1>
				    	<span sec:authentication="name"></span>
				  </div>
				  
				</div>
			  </div>
			  			
			</div>
			<!-- End of Row 2  -->
			
			<br/>
			
			<!-- start row 2.5 -->
			<div class="row">
			    <div class="col-md-12">
			    
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <a class="nav-link active" data-toggle="tab" href="#step1">Step 1(Information)</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" th:if="${platform != null}" th:href="@{/admin/step2/__${platform.platformId}__}">Step 2(Silicons)</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" th:if="${platform != null}" th:href="@{/admin/step3/__${platform.platformId}__}">Step 3(DevicesAndComponents)</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" th:if="${platform != null}" th:href="@{/admin/step4/__${platform.platformId}__}">Step 4(BKCAndSoftware)</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" th:if="${platform != null}" th:href="@{/admin/step5/__${platform.platformId}__}">Step 5(Networking)</a>
					  </li>					  
					</ul>
					
					<!-- Tab panes -->
					<div class="tab-content">
					
					<!-- start Step 1 -->
					  <div class="tab-pane container active" id="step1">
							<!-- start of Row 3  -->
							<div class="row">
																	  
							<div class="col-lg-12">
							  	<br/>
								<form class="needs-validation" th:action="@{/admin/platformAddorEdit}"
								 method="post" novalidate>
								  
								  <h4>General Information</h4>
								  
								  <div class="form-row">
								
								    <div class="col-md-4 mb-3">
								      <div class="input-group">
								        <div class="input-group-prepend">
								          <span class="input-group-text" id="inputGroupPrepend">ID Platform</span>
								        </div>
								        <input type="text" class="form-control" id="platformId" name="platformId" aria-describedby="inputGroupPrepend" readonly>
								        <div class="invalid-feedback">
								          Please write a valid Name.
								        </div>
								      </div>
								    </div>
								   				    
								    <div class="col-md-4 mb-3">
								      <div class="input-group">
								        <div class="input-group-prepend">
								          <span class="input-group-text" id="inputGroupPrepend">Bussiness Unit</span>
								        </div>
									    <select class="custom-select" id="bussinessUnit" name="bussinessUnit" required>
									      <option value="">--Select BU--</option>
									      <option value="CCG">CCG</option>
									      <option value="IOTG">IOTG</option>
									      <option value="DCG">DCG</option>
									    </select>
								        <div class="invalid-feedback">
								          Please write a valid station.
								        </div>
								      </div>
								    </div>
								    
								    <div class="col-md-4 mb-3">
								      <div class="input-group">
								        <div class="input-group-prepend">
								          <span class="input-group-text" id="inputGroupPrepend">Location</span>
								        </div>
									    <select class="custom-select" id="locationId" name="locationId" required>
									      <option value="">--Select Location--</option>
									      <option th:each="location : ${locations}" th:value="${location.locationId}" th:utext="${location.locationId}"></option>
									    </select>
								        <div class="invalid-feedback">
								          Please write a valid Location.
								        </div>
								      </div>
								    </div>				  
								    				        
								  </div>
								  
								  <div class="form-row">
								  
								  	<div class="col-md-4 mb-3">
									  	<div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Name</span>
									        </div>
									        <input type="text" class="form-control" id="name" name="name" aria-describedby="inputGroupPrepend" required>
									        <div class="invalid-feedback">
									          Please write a valid Name.
									        </div>
									    </div>
								  	</div>
								  	
								  	<div class="col-md-4 mb-3">
								      <div class="input-group">
								        <div class="input-group-prepend">
								          <span class="input-group-text" id="inputGroupPrepend">Project</span>
								        </div>
									    <select class="custom-select" id="project" name="project" required>
									      <option value="">--Select Project--</option>
									      <option value="NEON CITY">NEON CITY</option>
									      <option value="MAYAN CITY">MAYAN CITY</option>
									      <option value="CROWN PASS">CROWN PASS</option>
									      <option value="KABY LAKE">KABY LAKE</option>
									      <option value="SKYLAKE">SKYLAKE</option>
									      <option value="CASCALAKE">CASCALAKE</option>
									      <option value="MINERAL HILL">MINERAL HILL</option>
									    </select>
								        <div class="invalid-feedback">
								          Please write a valid Project.
								        </div>
								      </div>
								    </div>								  	
								  	
								    								    			    
								  </div>
								  								  
								  <div class="form-row">
								  
								    <div class="col-md-4 mb-3">
								    
      										<label for="myonoffswitch2" style="font-weight: bold;">Initial Status  </label>
											<div class="onoffswitch2">
											    <input type="checkbox" name="startStatus" class="onoffswitch2-checkbox" id="myonoffswitch2" checked>
											    <label class="onoffswitch2-label" for="myonoffswitch2">
											        <span class="onoffswitch2-inner"></span>
											        <span class="onoffswitch2-switch"></span>
											    </label>
											</div>
	      							    
								    
								    </div>
								    								    
								    <div class="col-md-4 mb-3">
								    
								        	<label for="myonoffswitch4" style="font-weight: bold;">Cloud or Ilab ready?  </label>
										    <div class="onoffswitch4">
										    <input type="checkbox" name="cloudReady" class="onoffswitch4-checkbox" id="myonoffswitch4">
										    <label class="onoffswitch4-label" for="myonoffswitch4">
										        <span class="onoffswitch4-inner"></span>
										        <span class="onoffswitch4-switch"></span>
										    </label>
										    </div>								       
				      							    		    
								    </div>
								    								    									   								    
	
								  </div>
								  
								  <div class="form-row">
								  
								  	<div class="col-md-4 mb-3">
									  	<div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Serial Platform</span>
									        </div>
									        <input type="text" class="form-control" id="serialPlatform" name="serialPlatform" aria-describedby="inputGroupPrepend" required>
									        <div class="invalid-feedback">
									          Please write a valid Serial Platform.
									        </div>
									    </div>
								  	</div>
										
								  	<div class="col-md-4 mb-3">
									  	<div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Model Platform</span>
									        </div>
									        <input type="text" class="form-control" id="model" name="model" aria-describedby="inputGroupPrepend" required>
									        <div class="invalid-feedback">
									          Please write a valid Model Platform.
									        </div>
									    </div>
								  	</div>

								  	<div class="col-md-4 mb-3">
									  	<div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Chasis Serial</span>
									        </div>
									        <input type="text" class="form-control" id="chasisSerial" name="chasisSerial" aria-describedby="inputGroupPrepend" required>
									        <div class="invalid-feedback">
									          Please write a valid Chasis Serial
									        </div>
									    </div>
								  	</div>
								  	
								  							  
								  </div>
								  							 								  
 								  <div class="form-row">
 									
									  	<div class="col-md-4 mb-3">
										  	<div class="input-group">
										        <div class="input-group-prepend">
										          <span class="input-group-text" id="inputGroupPrepend">Chasis Model</span>
										        </div>
										        <input type="text" class="form-control" id="chasisModel" name="chasisModel" aria-describedby="inputGroupPrepend" required>
										        <div class="invalid-feedback">
										          Please write a valid Chasis Model
										        </div>
										    </div>
									  	</div>

									  	<div class="col-md-4 mb-3">
										  	<div class="input-group">
										        <div class="input-group-prepend">
										          <span class="input-group-text" id="inputGroupPrepend">Asset Number</span>
										        </div>
										        <input type="number" class="form-control"  id="asset" name="asset" aria-describedby="inputGroupPrepend" required>
										        <div class="invalid-feedback">
										          Please write a valid Asset
										        </div>
										    </div>
									  	</div>
									  	
									  	<div class="col-md-4 mb-3">
									      <div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Final Status</span>
									        </div>
										    <select class="custom-select" id="finalStatus" name="finalStatus" required>
										      <option value="">--Select Status--</option>
										      <option value="true">UP</option>
										      <option value="false">DOWN</option>
										    </select>
									        <div class="invalid-feedback">
									          Please write a valid Status.
									        </div>
									      </div>
									    </div>	
								    
								    									  										  										
 									</div>
 									
 								  <h4>ISMP Information</h4>
 									
	 							  <div class="form-row">
	 									
											  	<div class="col-md-4 mb-3">
												  	<div class="input-group">
												        <div class="input-group-prepend">
												          <span class="input-group-text" id="inputGroupPrepend">ISMP Serial Number</span>
												        </div>
												        <input type="text" class="form-control" id="ismpSerialNumber" name="ismpSerialNumber" aria-describedby="inputGroupPrepend" required>
												        <div class="invalid-feedback">
												          Please write a valid ISMP #.
												        </div>
												    </div>
											  	</div>
											  	
											  	<div class="col-md-4 mb-3">									  	
												  	<div class="input-group">
												        <div class="input-group-prepend">
												          <span class="input-group-text" id="inputGroupPrepend">ISMP Kit Name</span>
												        </div>
												        <input type="text" class="form-control" id="ismpKitName" name="ismpKitName" aria-describedby="ismpKitName" required>
												        <div class="invalid-feedback">
												          Please write a valid ISMP Kit Name
												        </div>
												    </div>										    
											  	</div>
		
											    <div class="col-md-4 mb-3">
											      <div class="input-group">
											        <div class="input-group-prepend">
											          <span class="input-group-text" id="inputGroupPrepend">Assigned To </span>
											        </div>
												    <select class="custom-select" id="assignedTo" name="assignedTo" required>
												      <option value="">--Select Person--</option>
												      <option value="IRVING ZUNIGA">IRVING ZUNIGA</option>
												      <option value="MARCEL CASTRO">MARCEL CASTRO</option>
												      <option value="JUAN MADRID">JUAN MADRID</option>
												    </select>
											        <div class="invalid-feedback">
											          Please write a valid Person.
											        </div>
											      </div>
											    </div>											  	
	 									
	 									</div> 																	  
								  
								  <div class="form-row">
								  
									    <div class="col-md-4 mb-3">
									      <div class="input-group">
									        <div class="input-group-prepend">
									          <span class="input-group-text" id="inputGroupPrepend">Owned By </span>
									        </div>
										    <select class="custom-select" id="ownedBy" name="ownedBy" required>
										      <option value="">--Select Person--</option>
										      <option value="IRVING ZUNIGA">IRVING ZUNIGA</option>
										      <option value="DIEGO CASTRO">DIEGO CASTRO</option>
										      <option value="JUAN PALOMO">JUAN PALOMO</option>
										    </select>
									        <div class="invalid-feedback">
									          Please write a valid Person.
									        </div>
									      </div>
									    </div>	
									    
									  	<div class="col-md-4 mb-3">
										  	<div class="input-group">
										        <div class="input-group-prepend">
										          <span class="input-group-text" id="inputGroupPrepend">ISM Number</span>
										        </div>
										        <input type="number" class="form-control" id="ismNumber" name="ismNumber" aria-describedby="inputGroupPrepend" required>
										        <div class="invalid-feedback">
										          Please write a valid ISM #.
										        </div>
										    </div>
									  	</div>									  							  

									  	<div class="col-md-4 mb-3">
										  	<div class="input-group">
										        <div class="input-group-prepend">
										          <span class="input-group-text" id="inputGroupPrepend">Date Received</span>
										        </div>
										        <input type="date" class="form-control" id="receivedDate" name="receivedDate" aria-describedby="inputGroupPrepend" required>
										        <div class="invalid-feedback">
										          Please write a valid Date.
										        </div>
										    </div>
									  	</div>
								  
								  </div>
								  
								  <button class="btn btn-success" type="submit">Save Platform</button>
								  
								</form>
								
								<br/>
								 
							</div>
							
							</div>
							
							<!-- End of Row 3  -->					  	
					  
					    </div>
					  
					  <!-- End step 1 -->
					  				 
					</div>
					
					<!-- End Panes -->
					
				</div>
			</div>
			<!-- End row 2.5 -->
			
								
			
			<!-- start of Row 4 for Messaging Alerts  -->
			<div class="row">
						  
				<div class="col-md-12">
						 <!-- The Modal -->
					 <div class="modal fade" id="modalMessaging">
							    <div class="modal-dialog modal-dialog-centered">
							      <div class="modal-content">
							      
							        <!-- Modal Header -->
							        <div class="modal-header">
							          <h4 class="modal-title"></h4>
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							        </div>
							        
							        <!-- Modal body -->
							        <div class="modal-body">
							          <p id="message"></p>
							        </div>
							        
							        <!-- Modal footer -->
							        <div class="modal-footer">
							          
							        </div>
							        
							      </div>
							    </div>
					</div>							 
				</div>
			
			</div>
			
			<!-- End of Row 4  -->
			
			
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    
    <script th:inline="javascript">
    

		
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);
		})();
		

		$(document).ready(function () {
						    
		    
			/*[# th:if="${success == 'inserted'}"]*/
				$("#modalMessaging").modal('toggle');
			    $("#message").text("Platform have been inserted successfully");
			
			/*[/]*/
			
		    /*[# th:if="${success == 'updated'}"]*/
		   	     $("#modalMessaging").modal('toggle');
		   	 	 $("#message").text("Platform have been updated successfully");
			
			/*[/]*/
			

		 	 /*[# th:if="${platform != null}"]*/
		  				 	   
		  		$("#platformId").val( "[(${platform.platformId})]" );
		  		$("#asset").val( "[(${platform.asset})]" );
		  		$("#ismpSerialNumber").val( "[(${platform.ismpSerialNumber})]" );
		  		$("#ismpKitName").val( "[(${platform.ismpKitName})]" );
		  		$("#bussinessUnit").val("[(${platform.bussinessUnit})]");
		  		$("#project").val("[(${platform.project})]");
		  		$("#name").val("[(${platform.name})]");
		  		$("#chasisSerial").val("[(${platform.chasisSerial})]");
		  		$("#model").val("[(${platform.model})]");
		  		$("#serialPlatform").val("[(${platform.serialPlatform})]");
		  		$("#chasisModel").val("[(${platform.chasisModel})]");
		  		$("#finalStatus").val("[(${platform.finalStatus})]");
		  		$("#assignedTo").val("[(${platform.assignedTo})]");
		  		$("#ismNumber").val("[(${platform.ismNumber})]");
		  		$("#ownedBy").val("[(${platform.ownedBy})]");
		  		$("#locationId").val("[(${platform.location.locationId})]");
		  		$('#myonoffswitch2').prop('checked', [(${platform.startStatus})]);
		  		$('#myonoffswitch4').prop('checked', [(${platform.cloudReady})]);		  		
		  		$("#receivedDate").val("[(${#dates.format(platform.receivedDate, 'yyyy-MM-dd')})]");
		  
		  /*[/]*/
		  
		  
		  		  		 		  		  		  
	    });
		
		
		
								
	</script>


</body>
</html>